* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@import "tailwindcss";

@theme {
  --font-comic: "Comic Sans Ms";
}
@layer components {
  .title-color {
    background-color: #ffc15e;
  }
  .pattern {
    background-image: url(./images/border_pattern.svg),
      url(./images/border_pattern.svg);
    background-repeat: repeat-y;
    background-size: 20px;
    -webkit-mask: border-box;
    mask: border-box;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    width: 20px;
  }
  .bg-pattern{
     background-image: url("https://www.drikpanchang.com/images/home/xcenterpattern.jpg.pagespeed.ic.dK3xVW_WmK.webp"),url("https://www.drikpanchang.com/images/home/xcenterpattern.jpg.pagespeed.ic.dK3xVW_WmK.webp");
  background-repeat: repeat;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* *Common Styles */

.container {
  @apply lg:px-12 px-1 md:px-2 w-full;
}

.headerIcon {
  @apply border-orange-100/40 border p-1.5 rounded bg-orange-800 shadow-lg min-w-12 h-12 hover:bg-orange-700 cursor-pointer hover:shadow-xl flex items-center justify-center transition-all ring-black;
}

.hidden-sm {
  @apply hidden;
}

input {
  @apply outline-none;
}
.headerMenu {
  @apply bg-[#FFC15E] text-lg text-orange-950 rounded-t-sm px-2 py-1;
}
.pageWrapper {
  @apply lg:w-[80vw] w-full justify-center flex;
}
footer {
  @apply w-full lg:px-10;
}
.footer-heading {
  @apply font-bold mb-4 pb-1 text-orange-300 border-b-1;
}
ul li {
  @apply text-base mb-2 hover:underline transition-all list-disc text-orange-300 ml-3 cursor-pointer;
}
.sidebar{
  @apply overflow-y-scroll
}
.sidenavbar img{
  @apply w-8
}
.sidenavbar li{
  @apply text-orange-900 flex items-center px-2 py-5.5 gap-3 font-semibold h-9 border-b-1 list-none m-0
}